@media (min-width: 576px)
   {
      
      /*
       * flex
      */
      .bp-576-flex,
      .bp-576-row
        {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
            justify-content: flex-start !important;
            align-content: stretch !important;
            align-items: stretch !important;
        }

      /* parent */
      .bp-576-flex-none { display: none !important; }
      .bp-576-flex-inline { display: inline-flex !important; }

      .bp-576-flex-row { flex-direction: row !important; }
      .bp-576-flex-row-reverse { flex-direction: row-reverse !important; }
      .bp-576-flex-column { flex-direction: column !important; }
      .bp-576-flex-column-reverse { flex-direction: column-reverse !important; }

      .bp-576-flex-wrap { flex-wrap: wrap !important; }
      .bp-576-flex-wrap-reverse {	 flex-wrap: wrap-reverse !important; }
      .bp-576-flex-nowrap {	 flex-wrap: nowrap !important; }
         
      .bp-576-flex-jc-start { justify-content: flex-start !important; }
      .bp-576-flex-jc-center { justify-content: center !important; }
      .bp-576-flex-jc-end { justify-content: flex-end !important; }
      .bp-576-flex-jc-between { justify-content: space-between !important; }
      .bp-576-flex-jc-around { justify-content: space-around !important; }

      .bp-576-flex-ai-start { align-items: flex-start !important; }
      .bp-576-flex-ai-end { align-items: flex-end !important; }
      .bp-576-flex-ai-center { align-items: center !important; }
      .bp-576-flex-ai-baseline { align-items: baseline !important; }
      .bp-576-flex-ai-stretch { align-items: stretch !important; }

      .bp-576-flex-ac-start { align-content: flex-start !important; }
      .bp-576-flex-ac-end { align-content: flex-end !important; }
      .bp-576-flex-ac-center { align-content: center !important; }
      .bp-576-flex-ac-between { align-content: space-between !important; }
      .bp-576-flex-ac-around { align-content: space-around !important; }
      .bp-576-flex-ac-stretch { align-content: stretch !important; }

      /* children */
      .bp-576-col-auto { flex: 1 1 auto !important; }
      .bp-576-col-5 { flex: 0 1 5% !important; }
      .bp-576-col-b1 { flex: 0 1 8.3333% !important; } /* b1 */
      .bp-576-col-9 { flex: 0 1 9% !important; }
      .bp-576-col-10 { flex: 0 1 10% !important; }
      .bp-576-col-15 { flex: 0 1 15% !important; }
      .bp-576-col-b2 { flex: 0 1 16.6666% !important; } /* b2 */
      .bp-576-col-17 { flex: 0 1 17% !important; }
      .bp-576-col-20 { flex: 0 1 20% !important; }
      .bp-576-col-25,
      .bp-576-col-b3 { flex: 0 1 25% !important; } /* b3 */
      .bp-576-col-30 { flex: 0 1 30% !important; }
      .bp-576-col-b4 { flex: 0 1 33.3333% !important; } /* b4 */
      .bp-576-col-34 { flex: 0 1 34% !important; }
      .bp-576-col-35 { flex: 0 1 35% !important; }
      .bp-576-col-40 { flex: 0 1 40% !important; }
      .bp-576-col-b5 { flex: 0 1 41.6666% !important; } /* b5 */
      .bp-576-col-42 { flex: 0 1 42% !important; }
      .bp-576-col-45 { flex: 0 1 45% !important; }
      .bp-576-col-50,
      .bp-576-col-b6 { flex: 0 1 50% !important; } /* b6 */
      .bp-576-col-55 { flex: 0 1 55% !important; }
      .bp-576-col-58 { flex: 0 1 58% !important; }
      .bp-576-col-b7 { flex: 0 1 58.3333% !important; } /* b7 */
      .bp-576-col-60 { flex: 0 1 60% !important; }
      .bp-576-col-65 { flex: 0 1 65% !important; }
      .bp-576-col-66 { flex: 0 1 66% !important; }
      .bp-576-col-b8 { flex: 0 1 66.6666% !important; } /* b8 */
      .bp-576-col-70 { flex: 0 1 70% !important; }
      .bp-576-col-75,
      .bp-576-col-b9 { flex: 0 1 75% !important; } /* b9 */
      .bp-576-col-80 { flex: 0 1 80% !important; }
      .bp-576-col-83 { flex: 0 1 83% !important; }
      .bp-576-col-b10 { flex: 0 1 83.3333% !important; } /* b10 */
      .bp-576-col-85 { flex: 0 1 85% !important; }
      .bp-576-col-90 { flex: 0 1 90% !important; }
      .bp-576-col-91 { flex: 0 1 91% !important; }
      .bp-576-col-b11 { flex: 0 1 91.6666% !important; } /* b11 */
      .bp-576-col-95 { flex: 0 1 95% !important; }
      .bp-576-col-100,
      .bp-576-col-b12 { flex: 0 1 100% !important; } /* b12 */
      
      .bp-576-flex-grow-0 { flex-grow: 0 !important; }
      .bp-576-flex-grow,
      .bp-576-flex-grow-1 { flex-grow: 1 !important; }
      .bp-576-flex-grow-2 { flex-grow: 2 !important; }
      .bp-576-flex-grow-3 { flex-grow: 3 !important; }
      .bp-576-flex-grow-4 { flex-grow: 4 !important; }
      .bp-576-flex-grow-5 { flex-grow: 5 !important; }
      .bp-576-flex-grow-6 { flex-grow: 6 !important; }
      .bp-576-flex-grow-7 { flex-grow: 7 !important; }
      .bp-576-flex-grow-8 { flex-grow: 8 !important; }
      .bp-576-flex-grow-9 { flex-grow: 9 !important; }

      .bp-576-flex-shrink-0 { flex-shrink: 0 !important; }
      .bp-576-flex-shrink,
      .bp-576-flex-shrink-1 { flex-shrink: 1 !important; }
      .bp-576-flex-shrink-2 { flex-shrink: 2 !important; }
      .bp-576-flex-shrink-3 { flex-shrink: 3 !important; }
      .bp-576-flex-shrink-4 { flex-shrink: 4 !important; }
      .bp-576-flex-shrink-5 { flex-shrink: 5 !important; }
      .bp-576-flex-shrink-6 { flex-shrink: 6 !important; }
      .bp-576-flex-shrink-7 { flex-shrink: 7 !important; }
      .bp-576-flex-shrink-8 { flex-shrink: 8 !important; }
      .bp-576-flex-shrink-9 { flex-shrink: 9 !important; }

      .bp-576-flex-as-auto { align-self: auto !important; }
      .bp-576-flex-as-start { align-self: flex-start !important; }
      .bp-576-flex-as-end { align-self: flex-end !important; }
      .bp-576-flex-as-center { align-self: center !important; }
      .bp-576-flex-as-baseline { align-self: baseline !important; }
      .bp-576-flex-as-stretch { align-self: stretch !important; }

      .bp-576-flex-o-0 { order: 0 !important; }
      .bp-576-flex-o-1 { order: 1 !important; }
      .bp-576-flex-o-2 { order: 2 !important; }
      .bp-576-flex-o-3 { order: 3 !important; }
      .bp-576-flex-o-4 { order: 4 !important; }
      .bp-576-flex-o-5 { order: 5 !important; }
      .bp-576-flex-o-6 { order: 6 !important; }
      .bp-576-flex-o-7 { order: 7 !important; }
      .bp-576-flex-o-8 { order: 8 !important; }
      .bp-576-flex-o-9 { order: 9 !important; }
  
      /* (container) flex gap */
      .bp-576-flex-gap-0:not(.flex):not(.row) { padding-left: 0rem !important; padding-right: 0rem !important; }
      .bp-576-flex-gap-0.flex,
      .bp-576-flex-gap-0.row,
      .bp-576-flex-gap-0:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-0:not(.flex):not(.row) > .row { margin-left: 0rem !important; margin-right: 0rem !important; }
      .bp-576-flex-gap-0.flex,
      .bp-576-flex-gap-0.row { padding: 0rem !important; }
      .bp-576-flex-gap-0.flex > *,
      .bp-576-flex-gap-0.row > *,
      .bp-576-flex-gap-0:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-0:not(.flex):not(.row) > .row > * { padding: 0rem !important; }

      .bp-576-flex-gap-5:not(.flex):not(.row) { padding-left: 0.3125rem !important; padding-right: 0.3125rem !important; }
      .bp-576-flex-gap-5.flex,
      .bp-576-flex-gap-5.row,
      .bp-576-flex-gap-5:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-5:not(.flex):not(.row) > .row { margin-left: -0.3125rem !important; margin-right: -0.3125rem !important; }
      .bp-576-flex-gap-5.flex,
      .bp-576-flex-gap-5.row { padding: 0.15625rem !important; }
      .bp-576-flex-gap-5.flex > *,
      .bp-576-flex-gap-5.row > *,
      .bp-576-flex-gap-5:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-5:not(.flex):not(.row) > .row > * { padding: 0.15625rem !important; }

      .bp-576-flex-gap-8:not(.flex):not(.row) { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
      .bp-576-flex-gap-8.flex,
      .bp-576-flex-gap-8.row,
      .bp-576-flex-gap-8:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-8:not(.flex):not(.row) > .row { margin-left: -0.5rem !important; margin-right: -0.5rem !important; }
      .bp-576-flex-gap-8.flex,
      .bp-576-flex-gap-8.row { padding: 0.25rem !important; }
      .bp-576-flex-gap-8.flex > *,
      .bp-576-flex-gap-8.row > *,
      .bp-576-flex-gap-8:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-8:not(.flex):not(.row) > .row > * { padding: 0.25rem !important; }

      .bp-576-flex-gap-10:not(.flex):not(.row) { padding-left: 0.625rem !important; padding-right: 0.625rem !important; }
      .bp-576-flex-gap-10.flex,
      .bp-576-flex-gap-10.row,
      .bp-576-flex-gap-10:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-10:not(.flex):not(.row) > .row { margin-left: -0.625rem !important; margin-right: -0.625rem !important; }
      .bp-576-flex-gap-10.flex,
      .bp-576-flex-gap-10.row { padding: 0.3125rem !important; }
      .bp-576-flex-gap-10.flex > *,
      .bp-576-flex-gap-10.row > *,
      .bp-576-flex-gap-10:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-10:not(.flex):not(.row) > .row > * { padding: 0.3125rem !important; }

      .bp-576-flex-gap-15:not(.flex):not(.row) { padding-left: 0.9375rem !important; padding-right: 0.9375rem !important; }
      .bp-576-flex-gap-15.flex,
      .bp-576-flex-gap-15.row,
      .bp-576-flex-gap-15:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-15:not(.flex):not(.row) > .row { margin-left: -0.9375rem !important; margin-right: -0.9375rem !important; }
      .bp-576-flex-gap-15.flex,
      .bp-576-flex-gap-15.row { padding: 0.46875rem !important; }
      .bp-576-flex-gap-15.flex > *,
      .bp-576-flex-gap-15.row > *,
      .bp-576-flex-gap-15:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-15:not(.flex):not(.row) > .row > * { padding: 0.46875rem !important; }

      .bp-576-flex-gap-16:not(.flex):not(.row) { padding-left: 1rem !important; padding-right: 1rem !important; }
      .bp-576-flex-gap-16.flex,
      .bp-576-flex-gap-16.row,
      .bp-576-flex-gap-16:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-16:not(.flex):not(.row) > .row { margin-left: -1rem !important; margin-right: -1rem !important; }
      .bp-576-flex-gap-16.flex,
      .bp-576-flex-gap-16.row { padding: 0.5rem !important; }
      .bp-576-flex-gap-16.flex > *,
      .bp-576-flex-gap-16.row > *,
      .bp-576-flex-gap-16:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-16:not(.flex):not(.row) > .row > * { padding: 0.5rem !important; }

      .bp-576-flex-gap-20:not(.flex):not(.row) { padding-left: 1.25rem !important; padding-right: 1.25rem !important; }
      .bp-576-flex-gap-20.flex,
      .bp-576-flex-gap-20.row,
      .bp-576-flex-gap-20:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-20:not(.flex):not(.row) > .row { margin-left: -1.25rem !important; margin-right: -1.25rem !important; }
      .bp-576-flex-gap-20.flex,
      .bp-576-flex-gap-20.row { padding: 0.625rem !important; }
      .bp-576-flex-gap-20.flex > *,
      .bp-576-flex-gap-20.row > *,
      .bp-576-flex-gap-20:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-20:not(.flex):not(.row) > .row > * { padding: 0.625rem !important; }

      .bp-576-flex-gap-25:not(.flex):not(.row) { padding-left: 1.5625rem !important; padding-right: 1.5625rem !important; }
      .bp-576-flex-gap-25.flex,
      .bp-576-flex-gap-25.row,
      .bp-576-flex-gap-25:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-25:not(.flex):not(.row) > .row { margin-left: -1.5625rem !important; margin-right: -1.5625rem !important; }
      .bp-576-flex-gap-25.flex,
      .bp-576-flex-gap-25.row { padding: 0.78125rem !important; }
      .bp-576-flex-gap-25.flex > *,
      .bp-576-flex-gap-25.row > *,
      .bp-576-flex-gap-25:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-25:not(.flex):not(.row) > .row > * { padding: 0.78125rem !important; }

      .bp-576-flex-gap-24:not(.flex):not(.row) { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
      .bp-576-flex-gap-24.flex,
      .bp-576-flex-gap-24.row,
      .bp-576-flex-gap-24:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-24:not(.flex):not(.row) > .row { margin-left: -1.5rem !important; margin-right: -1.5rem !important; }
      .bp-576-flex-gap-24.flex,
      .bp-576-flex-gap-24.row { padding: 0.75rem !important; }
      .bp-576-flex-gap-24.flex > *,
      .bp-576-flex-gap-24.row > *,
      .bp-576-flex-gap-24:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-24:not(.flex):not(.row) > .row > * { padding: 0.75rem !important; }

      .bp-576-flex-gap-30:not(.flex):not(.row) { padding-left: 1.875rem !important; padding-right: 1.875rem !important; }
      .bp-576-flex-gap-30.flex,
      .bp-576-flex-gap-30.row,
      .bp-576-flex-gap-30:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-30:not(.flex):not(.row) > .row { margin-left: -1.875rem !important; margin-right: -1.875rem !important; }
      .bp-576-flex-gap-30.flex,
      .bp-576-flex-gap-30.row { padding: 0.9375rem !important; }
      .bp-576-flex-gap-30.flex > *,
      .bp-576-flex-gap-30.row > *,
      .bp-576-flex-gap-30:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-30:not(.flex):not(.row) > .row > * { padding: 0.9375rem !important; }

      .bp-576-flex-gap-40:not(.flex):not(.row) { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
      .bp-576-flex-gap-40.flex,
      .bp-576-flex-gap-40.row,
      .bp-576-flex-gap-40:not(.flex):not(.row) > .flex,
      .bp-576-flex-gap-40:not(.flex):not(.row) > .row { margin-left: -2.5rem !important; margin-right: -2.5rem !important; }
      .bp-576-flex-gap-40.flex,
      .bp-576-flex-gap-40.row { padding: 1.25rem !important; }
      .bp-576-flex-gap-40.flex > *,
      .bp-576-flex-gap-40.row > *,
      .bp-576-flex-gap-40:not(.flex):not(.row) > .flex > *,
      .bp-576-flex-gap-40:not(.flex):not(.row) > .row > * { padding: 1.25rem !important; }
      
   }