/*
 * form
 *
*/
       
/* cursor */ 
.bp-0-cursor-alias { cursor: alias !important }
.bp-0-cursor-all-scroll { cursor: all-scroll !important; }
.bp-0-cursor-auto { cursor: auto !important; }
.bp-0-cursor-cell { cursor: cell !important; }
.bp-0-cursor-context-menu { cursor: context-menu !important; }
.bp-0-cursor-col-resize { cursor: col-resize !important; }
.bp-0-cursor-copy { cursor: copy !important; }
.bp-0-cursor-crosshair { cursor: crosshair !important; }
.bp-0-cursor-default { cursor: default !important; }
.bp-0-cursor-e-resize { cursor: e-resize !important; }
.bp-0-cursor-ew-resize { cursor: ew-resize !important; }
.bp-0-cursor-grab { cursor: grab !important; }
.bp-0-cursor-grabbing { cursor: grabbing !important; }
.bp-0-cursor-help { cursor: help !important; }
.bp-0-cursor-move { cursor: move !important; }
.bp-0-cursor-n-resize { cursor: n-resize !important; }
.bp-0-cursor-ne-resize { cursor: ne-resize !important; }
.bp-0-cursor-nesw-resize { cursor: nesw-resize !important; }
.bp-0-cursor-ns-resize { cursor: ns-resize !important; }
.bp-0-cursor-nw-resize { cursor: nw-resize !important; }
.bp-0-cursor-nwse-resize { cursor: nwse-resize !important; }
.bp-0-cursor-no-drop { cursor: no-drop !important; }
.bp-0-cursor-none { cursor: none !important; }
.bp-0-cursor-not-allowed { cursor: not-allowed !important; }
.bp-0-cursor-pointer { cursor: pointer !important; }
.bp-0-cursor-progress { cursor: progress !important; }
.bp-0-cursor-row-resize { cursor: row-resize !important; }
.bp-0-cursor-s-resize { cursor: s-resize !important; }
.bp-0-cursor-se-resize { cursor: se-resize !important; }
.bp-0-cursor-sw-resize { cursor: sw-resize !important; }
.bp-0-cursor-text { cursor: text !important; }
.bp-0-cursor-w-resize { cursor: w-resize !important; }
.bp-0-cursor-wait { cursor: wait !important; }
.bp-0-cursor-zoom-in { cursor: zoom-in !important; }
.bp-0-cursor-zoom-out { cursor: zoom-out !important; }