@media (min-width: 768px)
   {
      /*
       * position
      */
      .bp-768-position-relative {position: relative !important;}
      .bp-768-position-absolute {position: absolute !important;}
      .bp-768-position-fixed {position: fixed !important;}
      .bp-768-position-sticky
         {
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 0rem !important;
         }
         
      .bp-768-position-t-0p {top: 0% !important;}
      .bp-768-position-t-5p {top: 5% !important;}
      .bp-768-position-t-10p {top: 10% !important;}
      .bp-768-position-t-15p {top: 15% !important;}
      .bp-768-position-t-20p {top: 20% !important;}
      .bp-768-position-t-25p {top: 25% !important;}
      .bp-768-position-t-30p {top: 30% !important;}
      .bp-768-position-t-33p {top: 33% !important;}
      .bp-768-position-t-33xp {top: 33.3333% !important;}
      .bp-768-position-t-34p {top: 34% !important;}
      .bp-768-position-t-35p {top: 35% !important;}
      .bp-768-position-t-40p {top: 40% !important;}
      .bp-768-position-t-45p {top: 45% !important;}
      .bp-768-position-t-50p {top: 55% !important;}
      .bp-768-position-t-55p {top: 60% !important;}
      .bp-768-position-t-60p {top: 65% !important;}
      .bp-768-position-t-65p {top: 70% !important;}
      .bp-768-position-t-66p {top: 66% !important;}
      .bp-768-position-t-66xp {top: 66.6666% !important;}
      .bp-768-position-t-67p {top: 67% !important;}
      .bp-768-position-t-75p {top: 75% !important;}
      .bp-768-position-t-80p {top: 80% !important;}
      .bp-768-position-t-85p {top: 85% !important;}
      .bp-768-position-t-90p {top: 90% !important;}
      .bp-768-position-t-95p {top: 95% !important;}
      .bp-768-position-t-100p {top: 100% !important;}

      .bp-768-position-l-0p {left: 0% !important;}
      .bp-768-position-l-5p {left: 5% !important;}
      .bp-768-position-l-10p {left: 10% !important;}
      .bp-768-position-l-15p {left: 15% !important;}
      .bp-768-position-l-20p {left: 20% !important;}
      .bp-768-position-l-25p {left: 25% !important;}
      .bp-768-position-l-30p {left: 30% !important;}
      .bp-768-position-l-33p {left: 33% !important;}
      .bp-768-position-l-33xp {left: 33.3333% !important;}
      .bp-768-position-l-34p {left: 34% !important;}
      .bp-768-position-l-35p {left: 35% !important;}
      .bp-768-position-l-40p {left: 40% !important;}
      .bp-768-position-l-45p {left: 45% !important;}
      .bp-768-position-l-50p {left: 55% !important;}
      .bp-768-position-l-55p {left: 60% !important;}
      .bp-768-position-l-60p {left: 65% !important;}
      .bp-768-position-l-65p {left: 70% !important;}
      .bp-768-position-l-66p {left: 66% !important;}
      .bp-768-position-l-66xp {left: 66.6666% !important;}
      .bp-768-position-l-67p {left: 67% !important;}
      .bp-768-position-l-75p {left: 75% !important;}
      .bp-768-position-l-80p {left: 80% !important;}
      .bp-768-position-l-85p {left: 85% !important;}
      .bp-768-position-l-90p {left: 90% !important;}
      .bp-768-position-l-95p {left: 95% !important;}
      .bp-768-position-l-100p {left: 100% !important;}

      .bp-768-position-r-0p {right: 0% !important;}
      .bp-768-position-r-5p {right: 5% !important;}
      .bp-768-position-r-10p {right: 10% !important;}
      .bp-768-position-r-15p {right: 15% !important;}
      .bp-768-position-r-20p {right: 20% !important;}
      .bp-768-position-r-25p {right: 25% !important;}
      .bp-768-position-r-30p {right: 30% !important;}
      .bp-768-position-r-33p {right: 33% !important;}
      .bp-768-position-r-33xp {right: 33.3333% !important;}
      .bp-768-position-r-34p {right: 34% !important;}
      .bp-768-position-r-35p {right: 35% !important;}
      .bp-768-position-r-40p {right: 40% !important;}
      .bp-768-position-r-45p {right: 45% !important;}
      .bp-768-position-r-50p {right: 55% !important;}
      .bp-768-position-r-55p {right: 60% !important;}
      .bp-768-position-r-60p {right: 65% !important;}
      .bp-768-position-r-65p {right: 70% !important;}
      .bp-768-position-r-66p {right: 66% !important;}
      .bp-768-position-r-66xp {right: 66.6666% !important;}
      .bp-768-position-r-67p {right: 67% !important;}
      .bp-768-position-r-75p {right: 75% !important;}
      .bp-768-position-r-80p {right: 80% !important;}
      .bp-768-position-r-85p {right: 85% !important;}
      .bp-768-position-r-90p {right: 90% !important;}
      .bp-768-position-r-95p {right: 95% !important;}
      .bp-768-position-r-100p {right: 100% !important;}

      .bp-768-position-b-0p {bottom: 0% !important;}
      .bp-768-position-b-5p {bottom: 5% !important;}
      .bp-768-position-b-10p {bottom: 10% !important;}
      .bp-768-position-b-15p {bottom: 15% !important;}
      .bp-768-position-b-20p {bottom: 20% !important;}
      .bp-768-position-b-25p {bottom: 25% !important;}
      .bp-768-position-b-30p {bottom: 30% !important;}
      .bp-768-position-b-33p {bottom: 33% !important;}
      .bp-768-position-b-33xp {bottom: 33.3333% !important;}
      .bp-768-position-b-34p {bottom: 34% !important;}
      .bp-768-position-b-35p {bottom: 35% !important;}
      .bp-768-position-b-40p {bottom: 40% !important;}
      .bp-768-position-b-45p {bottom: 45% !important;}
      .bp-768-position-b-50p {bottom: 55% !important;}
      .bp-768-position-b-55p {bottom: 60% !important;}
      .bp-768-position-b-60p {bottom: 65% !important;}
      .bp-768-position-b-65p {bottom: 70% !important;}
      .bp-768-position-b-66p {bottom: 66% !important;}
      .bp-768-position-b-66xp {bottom: 66.6666% !important;}
      .bp-768-position-b-67p {bottom: 67% !important;}
      .bp-768-position-b-75p {bottom: 75% !important;}
      .bp-768-position-b-80p {bottom: 80% !important;}
      .bp-768-position-b-85p {bottom: 85% !important;}
      .bp-768-position-b-90p {bottom: 90% !important;}
      .bp-768-position-b-95p {bottom: 95% !important;}
      .bp-768-position-b-100p {bottom: 100% !important;}

      .bp-768-position-t-0 {top: 0rem !important;}
      .bp-768-position-t-1 {top: 0.0625rem !important;}
      .bp-768-position-t-2 {top: 0.125rem !important;}
      .bp-768-position-t-3 {top: 0.1875rem !important;}
      .bp-768-position-t-4 {top: 0.25rem !important;}
      .bp-768-position-t-5 {top: 0.3125rem !important;}
      .bp-768-position-t-6 {top: 0.375rem !important;}
      .bp-768-position-t-7 {top: 0.4375rem !important;}
      .bp-768-position-t-8 {top: 0.5rem !important;}
      .bp-768-position-t-9 {top: 0.5625rem !important;}
      .bp-768-position-t-10 {top: 0.625rem !important;}
      .bp-768-position-t-12 {top: 0.75rem !important;}
      .bp-768-position-t-15 {top: 0.9375rem !important;}
      .bp-768-position-t-16 {top: 1rem !important;}
      .bp-768-position-t-20 {top: 1.25rem !important;}
      .bp-768-position-t-24 {top: 1.5rem !important;}
      .bp-768-position-t-25 {top: 1.5625rem !important;}
      .bp-768-position-t-28 {top: 1.75rem !important;}
      .bp-768-position-t-30 {top: 1.875rem !important;}
      .bp-768-position-t-32 {top: 2rem !important;}
      .bp-768-position-t-35 {top: 2.1875rem !important;}
      .bp-768-position-t-36 {top: 2.25rem !important;}
      .bp-768-position-t-40 {top: 2.5rem !important;}
      .bp-768-position-t-44 {top: 2.75rem !important;}
      .bp-768-position-t-45 {top: 2.8125rem !important;}
      .bp-768-position-t-48 {top: 3rem !important;}
      .bp-768-position-t-50 {top: 3.125rem !important;}
         
      .bp-768-position-l-0 {left: 0rem !important;}
      .bp-768-position-l-1 {left: 0.0625rem !important;}
      .bp-768-position-l-2 {left: 0.125rem !important;}
      .bp-768-position-l-3 {left: 0.1875rem !important;}
      .bp-768-position-l-4 {left: 0.25rem !important;}
      .bp-768-position-l-5 {left: 0.3125rem !important;}
      .bp-768-position-l-6 {left: 0.375rem !important;}
      .bp-768-position-l-7 {left: 0.4375rem !important;}
      .bp-768-position-l-8 {left: 0.5rem !important;}
      .bp-768-position-l-9 {left: 0.5625rem !important;}
      .bp-768-position-l-10 {left: 0.625rem !important;}
      .bp-768-position-l-12 {left: 0.75rem !important;}
      .bp-768-position-l-15 {left: 0.9375rem !important;}
      .bp-768-position-l-16 {left: 1rem !important;}
      .bp-768-position-l-20 {left: 1.25rem !important;}
      .bp-768-position-l-24 {left: 1.5rem !important;}
      .bp-768-position-l-25 {left: 1.5625rem !important;}
      .bp-768-position-l-28 {left: 1.75rem !important;}
      .bp-768-position-l-30 {left: 1.875rem !important;}
      .bp-768-position-l-32 {left: 2rem !important;}
      .bp-768-position-l-35 {left: 2.1875rem !important;}
      .bp-768-position-l-36 {left: 2.25rem !important;}
      .bp-768-position-l-40 {left: 2.5rem !important;}
      .bp-768-position-l-44 {left: 2.75rem !important;}
      .bp-768-position-l-45 {left: 2.8125rem !important;}
      .bp-768-position-l-48 {left: 3rem !important;}
      .bp-768-position-l-50 {left: 3.125rem !important;}
         
      .bp-768-position-r-0 {right: 0rem !important;}
      .bp-768-position-r-1 {right: 0.0625rem !important;}
      .bp-768-position-r-2 {right: 0.125rem !important;}
      .bp-768-position-r-3 {right: 0.1875rem !important;}
      .bp-768-position-r-4 {right: 0.25rem !important;}
      .bp-768-position-r-5 {right: 0.3125rem !important;}
      .bp-768-position-r-6 {right: 0.375rem !important;}
      .bp-768-position-r-7 {right: 0.4375rem !important;}
      .bp-768-position-r-8 {right: 0.5rem !important;}
      .bp-768-position-r-9 {right: 0.5625rem !important;}
      .bp-768-position-r-10 {right: 0.625rem !important;}
      .bp-768-position-r-12 {right: 0.75rem !important;}
      .bp-768-position-r-15 {right: 0.9375rem !important;}
      .bp-768-position-r-16 {right: 1rem !important;}
      .bp-768-position-r-20 {right: 1.25rem !important;}
      .bp-768-position-r-24 {right: 1.5rem !important;}
      .bp-768-position-r-25 {right: 1.5625rem !important;}
      .bp-768-position-r-28 {right: 1.75rem !important;}
      .bp-768-position-r-30 {right: 1.875rem !important;}
      .bp-768-position-r-32 {right: 2rem !important;}
      .bp-768-position-r-35 {right: 2.1875rem !important;}
      .bp-768-position-r-36 {right: 2.25rem !important;}
      .bp-768-position-r-40 {right: 2.5rem !important;}
      .bp-768-position-r-44 {right: 2.75rem !important;}
      .bp-768-position-r-45 {right: 2.8125rem !important;}
      .bp-768-position-r-48 {right: 3rem !important;}
      .bp-768-position-r-50 {right: 3.125rem !important;}
         
      .bp-768-position-b-0 {bottom: 0rem !important;}
      .bp-768-position-b-1 {bottom: 0.0625rem !important;}
      .bp-768-position-b-2 {bottom: 0.125rem !important;}
      .bp-768-position-b-3 {bottom: 0.1875rem !important;}
      .bp-768-position-b-4 {bottom: 0.25rem !important;}
      .bp-768-position-b-5 {bottom: 0.3125rem !important;}
      .bp-768-position-b-6 {bottom: 0.375rem !important;}
      .bp-768-position-b-7 {bottom: 0.4375rem !important;}
      .bp-768-position-b-8 {bottom: 0.5rem !important;}
      .bp-768-position-b-9 {bottom: 0.5625rem !important;}
      .bp-768-position-b-10 {bottom: 0.625rem !important;}
      .bp-768-position-b-12 {bottom: 0.75rem !important;}
      .bp-768-position-b-15 {bottom: 0.9375rem !important;}
      .bp-768-position-b-16 {bottom: 1rem !important;}
      .bp-768-position-b-20 {bottom: 1.25rem !important;}
      .bp-768-position-b-24 {bottom: 1.5rem !important;}
      .bp-768-position-b-25 {bottom: 1.5625rem !important;}
      .bp-768-position-b-28 {bottom: 1.75rem !important;}
      .bp-768-position-b-30 {bottom: 1.875rem !important;}
      .bp-768-position-b-32 {bottom: 2rem !important;}
      .bp-768-position-b-35 {bottom: 2.1875rem !important;}
      .bp-768-position-b-36 {bottom: 2.25rem !important;}
      .bp-768-position-b-40 {bottom: 2.5rem !important;}
      .bp-768-position-b-44 {bottom: 2.75rem !important;}
      .bp-768-position-b-45 {bottom: 2.8125rem !important;}
      .bp-768-position-b-48 {bottom: 3rem !important;}
      .bp-768-position-b-50 {bottom: 3.125rem !important;}
	}