/* 
 * margin
*/

/* auto */
.m-auto { margin: auto !important; }
.mt-auto,
.my-auto { margin-top: auto !important; }
.ml-auto,
.mx-auto { margin-left: auto !important; }
.mr-auto,
.mx-auto { margin-right: auto !important; }
.mb-auto,
.my-auto { margin-bottom: auto !important; }

/* 0px */
.m-0 { margin: 0rem !important; }
.mt-0,
.my-0 { margin-top: 0rem !important; }
.ml-0,
.mx-0 { margin-left: 0rem !important; }
.mr-0,
.mx-0 { margin-right: 0rem !important; }
.mb-0,
.my-0 { margin-bottom: 0rem !important; }

/* 4px */
.m-4 { margin: 0.25rem !important; }
.mt-4,
.my-4 { margin-top: 0.25rem !important; }
.ml-4,
.mx-4 { margin-left: 0.25rem !important; }
.mr-4,
.mx-4 { margin-right: 0.25rem !important; }
.mb-4,
.my-4 { margin-bottom: 0.25rem !important; }

/* 5px */
.m-5 { margin: 0.3125rem !important; }
.mt-5,
.my-5 { margin-top: 0.3125rem !important; }
.ml-5,
.mx-5 { margin-left: 0.3125rem !important; }
.mr-5,
.mx-5 { margin-right: 0.3125rem !important; }
.mb-5,
.my-5 { margin-bottom: 0.3125rem !important; }

/* 8px */
.m-8 { margin: 0.5rem !important; }
.mt-8,
.my-8 { margin-top: 0.5rem !important; }
.ml-8,
.mx-8 { margin-left: 0.5rem !important; }
.mr-8,
.mx-8 { margin-right: 0.5rem !important; }
.mb-8,
.my-8 { margin-bottom: 0.5rem !important; }
               
/* 10px */
.m-10 { margin: 0.625rem !important; }
.mt-10,
.my-10 { margin-top: 0.625rem !important; }
.ml-10,
.mx-10 { margin-left: 0.625rem !important; }
.mr-10,
.mx-10 { margin-right: 0.625rem !important; }
.mb-10,
.my-10 { margin-bottom: 0.625rem !important; }

/* 12px */
.m-12 { margin: 0.75rem !important; }
.mt-12,
.my-12 { margin-top: 0.75rem !important; }
.ml-12,
.mx-12 { margin-left: 0.75rem !important; }
.mr-12,
.mx-12 { margin-right: 0.75rem !important; }
.mb-12,
.my-12 { margin-bottom: 0.75rem !important; }
               
/* 15px */
.m-15 { margin: 0.9375rem !important; }
.mt-15,
.my-15 { margin-top: 0.9375rem !important; }
.ml-15,
.mx-15 { margin-left: 0.9375rem !important; }
.mr-15,
.mx-15 { margin-right: 0.9375rem !important; }
.mb-15,
.my-15 { margin-bottom: 0.9375rem !important; }

/* 16px */
.m-16 { margin: 1rem !important; }
.mt-16,
.my-16 { margin-top: 1rem !important; }
.ml-16,
.mx-16 { margin-left: 1rem !important; }
.mr-16,
.mx-16 { margin-right: 1rem !important; }
.mb-16,
.my-16 { margin-bottom: 1rem !important; }

/* 20px */
.m-20 { margin: 1.25rem !important; }
.mt-20,
.my-20 { margin-top: 1.25rem !important; }
.ml-20,
.mx-20 { margin-left: 1.25rem !important; }
.mr-20,
.mx-20 { margin-right: 1.25rem !important; }
.mb-20,
.my-20 { margin-bottom: 1.25rem !important; }

/* 24px */
.m-24 { margin: 1.5rem !important; }
.mt-24,
.my-24 { margin-top: 1.5rem !important; }
.ml-24,
.mx-24 { margin-left: 1.5rem !important; }
.mr-24,
.mx-24 { margin-right: 1.5rem !important; }
.mb-24,
.my-24 { margin-bottom: 1.5rem !important; }

/* 25px */
.m-25 { margin: 1.5625rem !important; }
.mt-25,
.my-25 { margin-top: 1.5625rem !important; }
.ml-25,
.mx-25 { margin-left: 1.5625rem !important; }
.mr-25,
.mx-25 { margin-right: 1.5625rem !important; }
.mb-25,
.my-25 { margin-bottom: 1.5625rem !important; }

/* 28px */
.m-28 { margin: 1.75rem !important; }
.mt-28,
.my-28 { margin-top: 1.75rem !important; }
.ml-28,
.mx-28 { margin-left: 1.75rem !important; }
.mr-28,
.mx-28 { margin-right: 1.75rem !important; }
.mb-28,
.my-28 { margin-bottom: 1.75rem !important; }

/* 30px */
.m-30 { margin: 1.875rem !important; }
.mt-30,
.my-30 { margin-top: 1.875rem !important; }
.ml-30,
.mx-30 { margin-left: 1.875rem !important; }
.mr-30,
.mx-30 { margin-right: 1.875rem !important; }
.mb-30,
.my-30 { margin-bottom: 1.875rem !important; }

/* 32px */
.m-32 { margin: 2rem !important; }
.mt-32,
.my-32 { margin-top: 2rem !important; }
.ml-32,
.mx-32 { margin-left: 2rem !important; }
.mr-32,
.mx-32 { margin-right: 2rem !important; }
.mb-32,
.my-32 { margin-bottom: 2rem !important; }
               
/* 35px */
.m-35 { margin: 2.1875rem !important; }
.mt-35,
.my-35 { margin-top: 2.1875rem !important; }
.ml-35,
.mx-35 { margin-left: 2.1875rem !important; }
.mr-35,
.mx-35 { margin-right: 2.1875rem !important; }
.mb-35,
.my-35 { margin-bottom: 2.1875rem !important; }

/* 36px */
.m-36 { margin: 2.25rem !important; }
.mt-36,
.my-36 { margin-top: 2.25rem !important; }
.ml-36,
.mx-36 { margin-left: 2.25rem !important; }
.mr-36,
.mx-36 { margin-right: 2.25rem !important; }
.mb-36,
.my-36 { margin-bottom: 2.25rem !important; }
               
/* 40px */
.m-40 { margin: 2.5rem !important; }
.mt-40,
.my-40 { margin-top: 2.5rem !important; }
.ml-40,
.mx-40 { margin-left: 2.5rem !important; }
.mr-40,
.mx-40 { margin-right: 2.5rem !important; }
.mb-40,
.my-40 { margin-bottom: 2.5rem !important; }

/* 44px */
.m-44 { margin: 2.75rem !important; }
.mt-44,
.my-44 { margin-top: 2.75rem !important; }
.ml-44,
.mx-44 { margin-left: 2.75rem !important; }
.mr-44,
.mx-44 { margin-right: 2.75rem !important; }
.mb-44,
.my-44 { margin-bottom: 2.75rem !important; }
               
/* 45px */
.m-45 { margin: 2.8125rem !important; }
.mt-45,
.my-45 { margin-top: 2.8125rem !important; }
.ml-45,
.mx-45 { margin-left: 2.8125rem !important; }
.mr-45,
.mx-45 { margin-right: 2.8125rem !important; }
.mb-45,
.my-45 { margin-bottom: 2.8125rem !important; }

/* 48px */
.m-48 { margin: 3rem !important; }
.mt-48,
.my-48 { margin-top: 3rem !important; }
.ml-48,
.mx-48 { margin-left: 3rem !important; }
.mr-48,
.mx-48 { margin-right: 3rem !important; }
.mb-48,
.my-48 { margin-bottom: 3rem !important; }
               
/* 50px */
.m-50 { margin: 3.125rem !important; }
.mt-50,
.my-50 { margin-top: 3.125rem !important; }
.ml-50,
.mx-50 { margin-left: 3.125rem !important; }
.mr-50,
.mx-50 { margin-right: 3.125rem !important; }
.mb-50,
.my-50 { margin-bottom: 3.125rem !important; }

/* 52px */
.m-52 { margin: 3.25rem !important; }
.mt-52,
.my-52 { margin-top: 3.25rem !important; }
.ml-52,
.mx-52 { margin-left: 3.25rem !important; }
.mr-52,
.mx-52 { margin-right: 3.25rem !important; }
.mb-52,
.my-52 { margin-bottom: 3.25rem !important; }
               
/* 55px */
.m-55 { margin: 3.4375rem !important; }
.mt-55,
.my-55 { margin-top: 3.4375rem !important; }
.ml-55,
.mx-55 { margin-left: 3.4375rem !important; }
.mr-55,
.mx-55 { margin-right: 3.4375rem !important; }
.mb-55,
.my-55 { margin-bottom: 3.4375rem !important; }

/* 56px */
.m-56 { margin: 3.5rem !important; }
.mt-56,
.my-56 { margin-top: 3.5rem !important; }
.ml-56,
.mx-56 { margin-left: 3.5rem !important; }
.mr-56,
.mx-56 { margin-right: 3.5rem !important; }
.mb-56,
.my-56 { margin-bottom: 3.5rem !important; }
               
/* 60px */
.m-60 { margin: 3.75rem !important; }
.mt-60,
.my-60 { margin-top: 3.75rem !important; }
.ml-60,
.mx-60 { margin-left: 3.75rem !important; }
.mr-60,
.mx-60 { margin-right: 3.75rem !important; }
.mb-60,
.my-60 { margin-bottom: 3.75rem !important; }

/* 64px */
.m-64 { margin: 4rem !important; }
.mt-64,
.my-64 { margin-top: 4rem !important; }
.ml-64,
.mx-64 { margin-left: 4rem !important; }
.mr-64,
.mx-64 { margin-right: 4rem !important; }
.mb-64,
.my-64 { margin-bottom: 4rem !important; }
               
/* 65px */
.m-65 { margin: 4.0625rem !important; }
.mt-65,
.my-65 { margin-top: 4.0625rem !important; }
.ml-65,
.mx-65 { margin-left: 4.0625rem !important; }
.mr-65,
.mx-65 { margin-right: 4.0625rem !important; }
.mb-65,
.my-65 { margin-bottom: 4.0625rem !important; }

/* 68px */
.m-68 { margin: 4.25rem !important; }
.mt-68,
.my-68 { margin-top: 4.25rem !important; }
.ml-68,
.mx-68 { margin-left: 4.25rem !important; }
.mr-68,
.mx-68 { margin-right: 4.25rem !important; }
.mb-68,
.my-68 { margin-bottom: 4.25rem !important; }
               
/* 70px */
.m-70 { margin: 4.375rem !important; }
.mt-70,
.my-70 { margin-top: 4.375rem !important; }
.ml-70,
.mx-70 { margin-left: 4.375rem !important; }
.mr-70,
.mx-70 { margin-right: 4.375rem !important; }
.mb-70,
.my-70 { margin-bottom: 4.375rem !important; }

/* 72px */
.m-72 { margin: 4.5rem !important; }
.mt-72,
.my-72 { margin-top: 4.5rem !important; }
.ml-72,
.mx-72 { margin-left: 4.5rem !important; }
.mr-72,
.mx-72 { margin-right: 4.5rem !important; }
.mb-72,
.my-72 { margin-bottom: 4.5rem !important; }
               
/* 75px */
.m-75 { margin: 4.6875rem !important; }
.mt-75,
.my-75 { margin-top: 4.6875rem !important; }
.ml-75,
.mx-75 { margin-left: 4.6875rem !important; }
.mr-75,
.mx-75 { margin-right: 4.6875rem !important; }
.mb-75,
.my-75 { margin-bottom: 4.6875rem !important; }

/* 76px */
.m-76 { margin: 4.75rem !important; }
.mt-76,
.my-76 { margin-top: 4.75rem !important; }
.ml-76,
.mx-76 { margin-left: 4.75rem !important; }
.mr-76,
.mx-76 { margin-right: 4.75rem !important; }
.mb-76,
.my-76 { margin-bottom: 4.75rem !important; }
               
/* 80px */
.m-80 { margin: 5rem !important; }
.mt-80,
.my-80 { margin-top: 5rem !important; }
.ml-80,
.mx-80 { margin-left: 5rem !important; }
.mr-80,
.mx-80 { margin-right: 5rem !important; }
.mb-80,
.my-80 { margin-bottom: 5rem !important; }

/* 84px */
.m-84 { margin: 5.25rem !important; }
.mt-84,
.my-84 { margin-top: 5.25rem !important; }
.ml-84,
.mx-84 { margin-left: 5.25rem !important; }
.mr-84,
.mx-84 { margin-right: 5.25rem !important; }
.mb-84,
.my-84 { margin-bottom: 5.25rem !important; }
               
/* 85px */
.m-85 { margin: 5.3125rem !important; }
.mt-85,
.my-85 { margin-top: 5.3125rem !important; }
.ml-85,
.mx-85 { margin-left: 5.3125rem !important; }
.mr-85,
.mx-85 { margin-right: 5.3125rem !important; }
.mb-85,
.my-85 { margin-bottom: 5.3125rem !important; }

/* 88px */
.m-88 { margin: 5.5rem !important; }
.mt-88,
.my-88 { margin-top: 5.5rem !important; }
.ml-88,
.mx-88 { margin-left: 5.5rem !important; }
.mr-88,
.mx-88 { margin-right: 5.5rem !important; }
.mb-88,
.my-88 { margin-bottom: 5.5rem !important; }
               
/* 90px */
.m-90 { margin: 5.625rem !important; }
.mt-90,
.my-90 { margin-top: 5.625rem !important; }
.ml-90,
.mx-90 { margin-left: 5.625rem !important; }
.mr-90,
.mx-90 { margin-right: 5.625rem !important; }
.mb-90,
.my-90 { margin-bottom: 5.625rem !important; }

/* 92px */
.m-92 { margin: 5.75rem !important; }
.mt-92,
.my-92 { margin-top: 5.75rem !important; }
.ml-92,
.mx-92 { margin-left: 5.75rem !important; }
.mr-92,
.mx-92 { margin-right: 5.75rem !important; }
.mb-92,
.my-92 { margin-bottom: 5.75rem !important; }
               
/* 95px */
.m-95 { margin: 5.9375rem !important; }
.mt-95,
.my-95 { margin-top: 5.9375rem !important; }
.ml-95,
.mx-95 { margin-left: 5.9375rem !important; }
.mr-95,
.mx-95 { margin-right: 5.9375rem !important; }
.mb-95,
.my-95 { margin-bottom: 5.9375rem !important; }

/* 96px */
.m-96 { margin: 6rem !important; }
.mt-96,
.my-96 { margin-top: 6rem !important; }
.ml-96,
.mx-96 { margin-left: 6rem !important; }
.mr-96,
.mx-96 { margin-right: 6rem !important; }
.mb-96,
.my-96 { margin-bottom: 6rem !important; }
               
/* 100px */
.m-100 { margin: 6.25rem !important; }
.mt-100,
.my-100 { margin-top: 6.25rem !important; }
.ml-100,
.mx-100 { margin-left: 6.25rem !important; }
.mr-100,
.mx-100 { margin-right: 6.25rem !important; }
.mb-100,
.my-100 { margin-bottom: 6.25rem !important; }
}

/* -4px */
.m--4 { margin: -0.25rem !important; }
.mt--4,
.my--4 { margin-top: -0.25rem !important; }
.ml--4,
.mx--4 { margin-left: -0.25rem !important; }
.mr--4,
.mx--4 { margin-right: -0.25rem !important; }
.mb--4,
.my--4 { margin-bottom: -0.25rem !important; }

/* -5px */
.m--5 { margin: -0.3125rem !important; }
.mt--5,
.my--5 { margin-top: -0.3125rem !important; }
.ml--5,
.mx--5 { margin-left: -0.3125rem !important; }
.mr--5,
.mx--5 { margin-right: -0.3125rem !important; }
.mb--5,
.my--5 { margin-bottom: -0.3125rem !important; }

/* -8px */
.m--8 { margin: -0.5rem !important; }
.mt--8,
.my--8 { margin-top: -0.5rem !important; }
.ml--8,
.mx--8 { margin-left: -0.5rem !important; }
.mr--8,
.mx--8 { margin-right: -0.5rem !important; }
.mb--8,
.my--8 { margin-bottom: -0.5rem !important; }
               
/* -10px */
.m--10 { margin: -0.625rem !important; }
.mt--10,
.my--10 { margin-top: -0.625rem !important; }
.ml--10,
.mx--10 { margin-left: -0.625rem !important; }
.mr--10,
.mx--10 { margin-right: -0.625rem !important; }
.mb--10,
.my--10 { margin-bottom: -0.625rem !important; }

/* -12px */
.m--12 { margin: -0.75rem !important; }
.mt--12,
.my--12 { margin-top: -0.75rem !important; }
.ml--12,
.mx--12 { margin-left: -0.75rem !important; }
.mr--12,
.mx--12 { margin-right: -0.75rem !important; }
.mb--12,
.my--12 { margin-bottom: -0.75rem !important; }
               
/* -15px */
.m--15 { margin: -0.9375rem !important; }
.mt--15,
.my--15 { margin-top: -0.9375rem !important; }
.ml--15,
.mx--15 { margin-left: -0.9375rem !important; }
.mr--15,
.mx--15 { margin-right: -0.9375rem !important; }
.mb--15,
.my--15 { margin-bottom: -0.9375rem !important; }

/* -16px */
.m--16 { margin: -1rem !important; }
.mt--16,
.my--16 { margin-top: -1rem !important; }
.ml--16,
.mx--16 { margin-left: -1rem !important; }
.mr--16,
.mx--16 { margin-right: -1rem !important; }
.mb--16,
.my--16 { margin-bottom: -1rem !important; }

/* -20px */
.m--20 { margin: -1.25rem !important; }
.mt--20,
.my--20 { margin-top: -1.25rem !important; }
.ml--20,
.mx--20 { margin-left: -1.25rem !important; }
.mr--20,
.mx--20 { margin-right: -1.25rem !important; }
.mb--20,
.my--20 { margin-bottom: -1.25rem !important; }

/* -24px */
.m--24 { margin: -1.5rem !important; }
.mt--24,
.my--24 { margin-top: -1.5rem !important; }
.ml--24,
.mx--24 { margin-left: -1.5rem !important; }
.mr--24,
.mx--24 { margin-right: -1.5rem !important; }
.mb--24,
.my--24 { margin-bottom: -1.5rem !important; }

/* -25px */
.m--25 { margin: -1.5625rem !important; }
.mt--25,
.my--25 { margin-top: -1.5625rem !important; }
.ml--25,
.mx--25 { margin-left: -1.5625rem !important; }
.mr--25,
.mx--25 { margin-right: -1.5625rem !important; }
.mb--25,
.my--25 { margin-bottom: -1.5625rem !important; }

/* -28px */
.m--28 { margin: -1.75rem !important; }
.mt--28,
.my--28 { margin-top: -1.75rem !important; }
.ml--28,
.mx--28 { margin-left: -1.75rem !important; }
.mr--28,
.mx--28 { margin-right: -1.75rem !important; }
.mb--28,
.my--28 { margin-bottom: -1.75rem !important; }

/* -30px */
.m--30 { margin: -1.875rem !important; }
.mt--30,
.my--30 { margin-top: -1.875rem !important; }
.ml--30,
.mx--30 { margin-left: -1.875rem !important; }
.mr--30,
.mx--30 { margin-right: -1.875rem !important; }
.mb--30,
.my--30 { margin-bottom: -1.875rem !important; }

/* -32px */
.m--32 { margin: -2rem !important; }
.mt--32,
.my--32 { margin-top: -2rem !important; }
.ml--32,
.mx--32 { margin-left: -2rem !important; }
.mr--32,
.mx--32 { margin-right: -2rem !important; }
.mb--32,
.my--32 { margin-bottom: -2rem !important; }
               
/* -35px */
.m--35 { margin: -2.1875rem !important; }
.mt--35,
.my--35 { margin-top: -2.1875rem !important; }
.ml--35,
.mx--35 { margin-left: -2.1875rem !important; }
.mr--35,
.mx--35 { margin-right: -2.1875rem !important; }
.mb--35,
.my--35 { margin-bottom: -2.1875rem !important; }

/* -36px */
.m--36 { margin: -2.25rem !important; }
.mt--36,
.my--36 { margin-top: -2.25rem !important; }
.ml--36,
.mx--36 { margin-left: -2.25rem !important; }
.mr--36,
.mx--36 { margin-right: -2.25rem !important; }
.mb--36,
.my--36 { margin-bottom: -2.25rem !important; }
               
/* -40px */
.m--40 { margin: -2.5rem !important; }
.mt--40,
.my--40 { margin-top: -2.5rem !important; }
.ml--40,
.mx--40 { margin-left: -2.5rem !important; }
.mr--40,
.mx--40 { margin-right: -2.5rem !important; }
.mb--40,
.my--40 { margin-bottom: -2.5rem !important; }

/* -44px */
.m--44 { margin: -2.75rem !important; }
.mt--44,
.my--44 { margin-top: -2.75rem !important; }
.ml--44,
.mx--44 { margin-left: -2.75rem !important; }
.mr--44,
.mx--44 { margin-right: -2.75rem !important; }
.mb--44,
.my--44 { margin-bottom: -2.75rem !important; }
               
/* -45px */
.m--45 { margin: -2.8125rem !important; }
.mt--45,
.my--45 { margin-top: -2.8125rem !important; }
.ml--45,
.mx--45 { margin-left: -2.8125rem !important; }
.mr--45,
.mx--45 { margin-right: -2.8125rem !important; }
.mb--45,
.my--45 { margin-bottom: -2.8125rem !important; }

/* -48px */
.m--48 { margin: -3rem !important; }
.mt--48,
.my--48 { margin-top: -3rem !important; }
.ml--48,
.mx--48 { margin-left: -3rem !important; }
.mr--48,
.mx--48 { margin-right: -3rem !important; }
.mb--48,
.my--48 { margin-bottom: -3rem !important; }
               
/* -50px */
.m--50 { margin: -3.125rem !important; }
.mt--50,
.my--50 { margin-top: -3.125rem !important; }
.ml--50,
.mx--50 { margin-left: -3.125rem !important; }
.mr--50,
.mx--50 { margin-right: -3.125rem !important; }
.mb--50,
.my--50 { margin-bottom: -3.125rem !important; }

/* -52px */
.m--52 { margin: -3.25rem !important; }
.mt--52,
.my--52 { margin-top: -3.25rem !important; }
.ml--52,
.mx--52 { margin-left: -3.25rem !important; }
.mr--52,
.mx--52 { margin-right: -3.25rem !important; }
.mb--52,
.my--52 { margin-bottom: -3.25rem !important; }
               
/* -55px */
.m--55 { margin: -3.4375rem !important; }
.mt--55,
.my--55 { margin-top: -3.4375rem !important; }
.ml--55,
.mx--55 { margin-left: -3.4375rem !important; }
.mr--55,
.mx--55 { margin-right: -3.4375rem !important; }
.mb--55,
.my--55 { margin-bottom: -3.4375rem !important; }

/* -56px */
.m--56 { margin: -3.5rem !important; }
.mt--56,
.my--56 { margin-top: -3.5rem !important; }
.ml--56,
.mx--56 { margin-left: -3.5rem !important; }
.mr--56,
.mx--56 { margin-right: -3.5rem !important; }
.mb--56,
.my--56 { margin-bottom: -3.5rem !important; }
               
/* -60px */
.m--60 { margin: -3.75rem !important; }
.mt--60,
.my--60 { margin-top: -3.75rem !important; }
.ml--60,
.mx--60 { margin-left: -3.75rem !important; }
.mr--60,
.mx--60 { margin-right: -3.75rem !important; }
.mb--60,
.my--60 { margin-bottom: -3.75rem !important; }

/* -64px */
.m--64 { margin: -4rem !important; }
.mt--64,
.my--64 { margin-top: -4rem !important; }
.ml--64,
.mx--64 { margin-left: -4rem !important; }
.mr--64,
.mx--64 { margin-right: -4rem !important; }
.mb--64,
.my--64 { margin-bottom: -4rem !important; }
               
/* -65px */
.m--65 { margin: -4.0625rem !important; }
.mt--65,
.my--65 { margin-top: -4.0625rem !important; }
.ml--65,
.mx--65 { margin-left: -4.0625rem !important; }
.mr--65,
.mx--65 { margin-right: -4.0625rem !important; }
.mb--65,
.my--65 { margin-bottom: -4.0625rem !important; }

/* -68px */
.m--68 { margin: -4.25rem !important; }
.mt--68,
.my--68 { margin-top: -4.25rem !important; }
.ml--68,
.mx--68 { margin-left: -4.25rem !important; }
.mr--68,
.mx--68 { margin-right: -4.25rem !important; }
.mb--68,
.my--68 { margin-bottom: -4.25rem !important; }
               
/* -70px */
.m--70 { margin: -4.375rem !important; }
.mt--70,
.my--70 { margin-top: -4.375rem !important; }
.ml--70,
.mx--70 { margin-left: -4.375rem !important; }
.mr--70,
.mx--70 { margin-right: -4.375rem !important; }
.mb--70,
.my--70 { margin-bottom: -4.375rem !important; }

/* -72px */
.m--72 { margin: -4.5rem !important; }
.mt--72,
.my--72 { margin-top: -4.5rem !important; }
.ml--72,
.mx--72 { margin-left: -4.5rem !important; }
.mr--72,
.mx--72 { margin-right: -4.5rem !important; }
.mb--72,
.my--72 { margin-bottom: -4.5rem !important; }
               
/* -75px */
.m--75 { margin: -4.6875rem !important; }
.mt--75,
.my--75 { margin-top: -4.6875rem !important; }
.ml--75,
.mx--75 { margin-left: -4.6875rem !important; }
.mr--75,
.mx--75 { margin-right: -4.6875rem !important; }
.mb--75,
.my--75 { margin-bottom: -4.6875rem !important; }

/* -76px */
.m--76 { margin: -4.75rem !important; }
.mt--76,
.my--76 { margin-top: -4.75rem !important; }
.ml--76,
.mx--76 { margin-left: -4.75rem !important; }
.mr--76,
.mx--76 { margin-right: -4.75rem !important; }
.mb--76,
.my--76 { margin-bottom: -4.75rem !important; }
               
/* -80px */
.m--80 { margin: -5rem !important; }
.mt--80,
.my--80 { margin-top: -5rem !important; }
.ml--80,
.mx--80 { margin-left: -5rem !important; }
.mr--80,
.mx--80 { margin-right: -5rem !important; }
.mb--80,
.my--80 { margin-bottom: -5rem !important; }

/* -84px */
.m--84 { margin: -5.25rem !important; }
.mt--84,
.my--84 { margin-top: -5.25rem !important; }
.ml--84,
.mx--84 { margin-left: -5.25rem !important; }
.mr--84,
.mx--84 { margin-right: -5.25rem !important; }
.mb--84,
.my--84 { margin-bottom: -5.25rem !important; }
               
/* -85px */
.m--85 { margin: -5.3125rem !important; }
.mt--85,
.my--85 { margin-top: -5.3125rem !important; }
.ml--85,
.mx--85 { margin-left: -5.3125rem !important; }
.mr--85,
.mx--85 { margin-right: -5.3125rem !important; }
.mb--85,
.my--85 { margin-bottom: -5.3125rem !important; }

/* -88px */
.m--88 { margin: -5.5rem !important; }
.mt--88,
.my--88 { margin-top: -5.5rem !important; }
.ml--88,
.mx--88 { margin-left: -5.5rem !important; }
.mr--88,
.mx--88 { margin-right: -5.5rem !important; }
.mb--88,
.my--88 { margin-bottom: -5.5rem !important; }
               
/* -90px */
.m--90 { margin: -5.625rem !important; }
.mt--90,
.my--90 { margin-top: -5.625rem !important; }
.ml--90,
.mx--90 { margin-left: -5.625rem !important; }
.mr--90,
.mx--90 { margin-right: -5.625rem !important; }
.mb--90,
.my--90 { margin-bottom: -5.625rem !important; }

/* -92px */
.m--92 { margin: -5.75rem !important; }
.mt--92,
.my--92 { margin-top: -5.75rem !important; }
.ml--92,
.mx--92 { margin-left: -5.75rem !important; }
.mr--92,
.mx--92 { margin-right: -5.75rem !important; }
.mb--92,
.my--92 { margin-bottom: -5.75rem !important; }
               
/* -95px */
.m--95 { margin: -5.9375rem !important; }
.mt--95,
.my--95 { margin-top: -5.9375rem !important; }
.ml--95,
.mx--95 { margin-left: -5.9375rem !important; }
.mr--95,
.mx--95 { margin-right: -5.9375rem !important; }
.mb--95,
.my--95 { margin-bottom: -5.9375rem !important; }

/* -96px */
.m--96 { margin: -6rem !important; }
.mt--96,
.my--96 { margin-top: -6rem !important; }
.ml--96,
.mx--96 { margin-left: -6rem !important; }
.mr--96,
.mx--96 { margin-right: -6rem !important; }
.mb--96,
.my--96 { margin-bottom: -6rem !important; }
               
/* -100px */
.m--100 { margin: -6.25rem !important; }
.mt--100,
.my--100 { margin-top: -6.25rem !important; }
.ml--100,
.mx--100 { margin-left: -6.25rem !important; }
.mr--100,
.mx--100 { margin-right: -6.25rem !important; }
.mb--100,
.my--100 { margin-bottom: -6.25rem !important; }

/* 
 * padding
*/
/* 0px */
.p-0 { padding: 0rem !important; }
.pt-0,
.py-0 { padding-top: 0rem !important; }
.pl-0,
.px-0 { padding-left: 0rem !important; }
.pr-0,
.px-0 { padding-right: 0rem !important; }
.pb-0,
.py-0 { padding-bottom: 0rem !important; }

/* 4px */
.p-4 { padding: 0.25rem !important; }
.pt-4,
.py-4 { padding-top: 0.25rem !important; }
.pl-4,
.px-4 { padding-left: 0.25rem !important; }
.pr-4,
.px-4 { padding-right: 0.25rem !important; }
.pb-4,
.py-4 { padding-bottom: 0.25rem !important; }
               
/* 5px */
.p-5 { padding: 0.3125rem !important; }
.pt-5,
.py-5 { padding-top: 0.3125rem !important; }
.pl-5,
.px-5 { padding-left: 0.3125rem !important; }
.pr-5,
.px-5 { padding-right: 0.3125rem !important; }
.pb-5,
.py-5 { padding-bottom: 0.3125rem !important; }

/* 8px */
.p-8 { padding: 0.5rem !important; }
.pt-8,
.py-8 { padding-top: 0.5rem !important; }
.pl-8,
.px-8 { padding-left: 0.5rem !important; }
.pr-8,
.px-8 { padding-right: 0.5rem !important; }
.pb-8,
.py-8 { padding-bottom: 0.5rem !important; }

/* 10px */
.p-10 { padding: 0.625rem !important; }
.pt-10,
.py-10 { padding-top: 0.625rem !important; }
.pl-10,
.px-10 { padding-left: 0.625rem !important; }
.pr-10,
.px-10 { padding-right: 0.625rem !important; }
.pb-10,
.py-10 { padding-bottom: 0.625rem !important; }

/* 12px */
.p-12 { padding: 0.75rem !important; }
.pt-12,
.py-12 { padding-top: 0.75rem !important; }
.pl-12,
.px-12 { padding-left: 0.75rem !important; }
.pr-12,
.px-12 { padding-right: 0.75rem !important; }
.pb-12,
.py-12 { padding-bottom: 0.75rem !important; }
               
/* 15px */
.p-15 { padding: 0.9375rem !important; }
.pt-15,
.py-15 { padding-top: 0.9375rem !important; }
.pl-15,
.px-15 { padding-left: 0.9375rem !important; }
.pr-15,
.px-15 { padding-right: 0.9375rem !important; }
.pb-15,
.py-15 { padding-bottom: 0.9375rem !important; }

/* 16px */
.p-16 { padding: 1rem !important; }
.pt-16,
.py-16 { padding-top: 1rem !important; }
.pl-16,
.px-16 { padding-left: 1rem !important; }
.pr-16,
.px-16 { padding-right: 1rem !important; }
.pb-16,
.py-16 { padding-bottom: 1rem !important; }
               
/* 20px */
.p-20 { padding: 1.25rem !important; }
.pt-20,
.py-20 { padding-top: 1.25rem !important; }
.pl-20,
.px-20 { padding-left: 1.25rem !important; }
.pr-20,
.px-20 { padding-right: 1.25rem !important; }
.pb-20,
.py-20 { padding-bottom: 1.25rem !important; }

/* 24px */
.p-24 { padding: 1.5rem !important; }
.pt-24,
.py-24 { padding-top: 1.5rem !important; }
.pl-24,
.px-24 { padding-left: 1.5rem !important; }
.pr-24,
.px-24 { padding-right: 1.5rem !important; }
.pb-24,
.py-24 { padding-bottom: 1.5rem !important; }
               
/* 25px */
.p-25 { padding: 1.5625rem !important; }
.pt-25,
.py-25 { padding-top: 1.5625rem !important; }
.pl-25,
.px-25 { padding-left: 1.5625rem !important; }
.pr-25,
.px-25 { padding-right: 1.5625rem !important; }
.pb-25,
.py-25 { padding-bottom: 1.5625rem !important; }

/* 28px */
.p-28 { padding: 1.75rem !important; }
.pt-28,
.py-28 { padding-top: 1.75rem !important; }
.pl-28,
.px-28 { padding-left: 1.75rem !important; }
.pr-28,
.px-28 { padding-right: 1.75rem !important; }
.pb-28,
.py-28 { padding-bottom: 1.75rem !important; }
               
/* 30px */
.p-30 { padding: 1.875rem !important; }
.pt-30,
.py-30 { padding-top: 1.875rem !important; }
.pl-30,
.px-30 { padding-left: 1.875rem !important; }
.pr-30,
.px-30 { padding-right: 1.875rem !important; }
.pb-30,
.py-30 { padding-bottom: 1.875rem !important; }

/* 32px */
.p-32 { padding: 2rem !important; }
.pt-32,
.py-32 { padding-top: 2rem !important; }
.pl-32,
.px-32 { padding-left: 2rem !important; }
.pr-32,
.px-32 { padding-right: 2rem !important; }
.pb-32,
.py-32 { padding-bottom: 2rem !important; }
               
/* 35px */
.p-35 { padding: 2.1875rem !important; }
.pt-35,
.py-35 { padding-top: 2.1875rem !important; }
.pl-35,
.px-35 { padding-left: 2.1875rem !important; }
.pr-35,
.px-35 { padding-right: 2.1875rem !important; }
.pb-35,
.py-35 { padding-bottom: 2.1875rem !important; }

/* 36px */
.p-36 { padding: 2.25rem !important; }
.pt-36,
.py-36 { padding-top: 2.25rem !important; }
.pl-36,
.px-36 { padding-left: 2.25rem !important; }
.pr-36,
.px-36 { padding-right: 2.25rem !important; }
.pb-36,
.py-36 { padding-bottom: 2.25rem !important; }
               
/* 40px */
.p-40 { padding: 2.5rem !important; }
.pt-40,
.py-40 { padding-top: 2.5rem !important; }
.pl-40,
.px-40 { padding-left: 2.5rem !important; }
.pr-40,
.px-40 { padding-right: 2.5rem !important; }
.pb-40,
.py-40 { padding-bottom: 2.5rem !important; }

/* 44px */
.p-44 { padding: 2.75rem !important; }
.pt-44,
.py-44 { padding-top: 2.75rem !important; }
.pl-44,
.px-44 { padding-left: 2.75rem !important; }
.pr-44,
.px-44 { padding-right: 2.75rem !important; }
.pb-44,
.py-44 { padding-bottom: 2.75rem !important; }
               
/* 45px */
.p-45 { padding: 2.8125rem !important; }
.pt-45,
.py-45 { padding-top: 2.8125rem !important; }
.pl-45,
.px-45 { padding-left: 2.8125rem !important; }
.pr-45,
.px-45 { padding-right: 2.8125rem !important; }
.pb-45,
.py-45 { padding-bottom: 2.8125rem !important; }

/* 48px */
.p-48 { padding: 3rem !important; }
.pt-48,
.py-48 { padding-top: 3rem !important; }
.pl-48,
.px-48 { padding-left: 3rem !important; }
.pr-48,
.px-48 { padding-right: 3rem !important; }
.pb-48,
.py-48 { padding-bottom: 3rem !important; }
               
/* 50px */
.p-50 { padding: 3.125rem !important; }
.pt-50,
.py-50 { padding-top: 3.125rem !important; }
.pl-50,
.px-50 { padding-left: 3.125rem !important; }
.pr-50,
.px-50 { padding-right: 3.125rem !important; }
.pb-50,
.py-50 { padding-bottom: 3.125rem !important; }

/* 52px */
.p-52 { padding: 3.25rem !important; }
.pt-52,
.py-52 { padding-top: 3.25rem !important; }
.pl-52,
.px-52 { padding-left: 3.25rem !important; }
.pr-52,
.px-52 { padding-right: 3.25rem !important; }
.pb-52,
.py-52 { padding-bottom: 3.25rem !important; }
               
/* 55px */
.p-55 { padding: 3.4375rem !important; }
.pt-55,
.py-55 { padding-top: 3.4375rem !important; }
.pl-55,
.px-55 { padding-left: 3.4375rem !important; }
.pr-55,
.px-55 { padding-right: 3.4375rem !important; }
.pb-55,
.py-55 { padding-bottom: 3.4375rem !important; }

/* 56px */
.p-56 { padding: 3.5rem !important; }
.pt-56,
.py-56 { padding-top: 3.5rem !important; }
.pl-56,
.px-56 { padding-left: 3.5rem !important; }
.pr-56,
.px-56 { padding-right: 3.5rem !important; }
.pb-56,
.py-56 { padding-bottom: 3.5rem !important; }
               
/* 60px */
.p-60 { padding: 3.75rem !important; }
.pt-60,
.py-60 { padding-top: 3.75rem !important; }
.pl-60,
.px-60 { padding-left: 3.75rem !important; }
.pr-60,
.px-60 { padding-right: 3.75rem !important; }
.pb-60,
.py-60 { padding-bottom: 3.75rem !important; }

/* 64px */
.p-64 { padding: 4rem !important; }
.pt-64,
.py-64 { padding-top: 4rem !important; }
.pl-64,
.px-64 { padding-left: 4rem !important; }
.pr-64,
.px-64 { padding-right: 4rem !important; }
.pb-64,
.py-64 { padding-bottom: 4rem !important; }
               
/* 65px */
.p-65 { padding: 4.0625rem !important; }
.pt-65,
.py-65 { padding-top: 4.0625rem !important; }
.pl-65,
.px-65 { padding-left: 4.0625rem !important; }
.pr-65,
.px-65 { padding-right: 4.0625rem !important; }
.pb-65,
.py-65 { padding-bottom: 4.0625rem !important; }

/* 68px */
.p-68 { padding: 4.25rem !important; }
.pt-68,
.py-68 { padding-top: 4.25rem !important; }
.pl-68,
.px-68 { padding-left: 4.25rem !important; }
.pr-68,
.px-68 { padding-right: 4.25rem !important; }
.pb-68,
.py-68 { padding-bottom: 4.25rem !important; }
               
/* 70px */
.p-70 { padding: 4.375rem !important; }
.pt-70,
.py-70 { padding-top: 4.375rem !important; }
.pl-70,
.px-70 { padding-left: 4.375rem !important; }
.pr-70,
.px-70 { padding-right: 4.375rem !important; }
.pb-70,
.py-70 { padding-bottom: 4.375rem !important; }

/* 72px */
.p-72 { padding: 4.5rem !important; }
.pt-72,
.py-72 { padding-top: 4.5rem !important; }
.pl-72,
.px-72 { padding-left: 4.5rem !important; }
.pr-72,
.px-72 { padding-right: 4.5rem !important; }
.pb-72,
.py-72 { padding-bottom: 4.5rem !important; }
               
/* 75px */
.p-75 { padding: 4.6875rem !important; }
.pt-75,
.py-75 { padding-top: 4.6875rem !important; }
.pl-75,
.px-75 { padding-left: 4.6875rem !important; }
.pr-75,
.px-75 { padding-right: 4.6875rem !important; }
.pb-75,
.py-75 { padding-bottom: 4.6875rem !important; }

/* 76px */
.p-76 { padding: 4.75rem !important; }
.pt-76,
.py-76 { padding-top: 4.75rem !important; }
.pl-76,
.px-76 { padding-left: 4.75rem !important; }
.pr-76,
.px-76 { padding-right: 4.75rem !important; }
.pb-76,
.py-76 { padding-bottom: 4.75rem !important; }
               
/* 80px */
.p-80 { padding: 5rem !important; }
.pt-80,
.py-80 { padding-top: 5rem !important; }
.pl-80,
.px-80 { padding-left: 5rem !important; }
.pr-80,
.px-80 { padding-right: 5rem !important; }
.pb-80,
.py-80 { padding-bottom: 5rem !important; }

/* 84px */
.p-84 { padding: 5.25rem !important; }
.pt-84,
.py-84 { padding-top: 5.25rem !important; }
.pl-84,
.px-84 { padding-left: 5.25rem !important; }
.pr-84,
.px-84 { padding-right: 5.25rem !important; }
.pb-84,
.py-84 { padding-bottom: 5.25rem !important; }
               
/* 85px */
.p-85 { padding: 5.3125rem !important; }
.pt-85,
.py-85 { padding-top: 5.3125rem !important; }
.pl-85,
.px-85 { padding-left: 5.3125rem !important; }
.pr-85,
.px-85 { padding-right: 5.3125rem !important; }
.pb-85,
.py-85 { padding-bottom: 5.3125rem !important; }

/* 88px */
.p-88 { padding: 5.5rem !important; }
.pt-88,
.py-88 { padding-top: 5.5rem !important; }
.pl-88,
.px-88 { padding-left: 5.5rem !important; }
.pr-88,
.px-88 { padding-right: 5.5rem !important; }
.pb-88,
.py-88 { padding-bottom: 5.5rem !important; }
               
/* 90px */
.p-90 { padding: 5.625rem !important; }
.pt-90,
.py-90 { padding-top: 5.625rem !important; }
.pl-90,
.px-90 { padding-left: 5.625rem !important; }
.pr-90,
.px-90 { padding-right: 5.625rem !important; }
.pb-90,
.py-90 { padding-bottom: 5.625rem !important; }

/* 92px */
.p-92 { padding: 5.75rem !important; }
.pt-92,
.py-92 { padding-top: 5.75rem !important; }
.pl-92,
.px-92 { padding-left: 5.75rem !important; }
.pr-92,
.px-92 { padding-right: 5.75rem !important; }
.pb-92,
.py-92 { padding-bottom: 5.75rem !important; }
               
/* 95px */
.p-95 { padding: 5.9375rem !important; }
.pt-95,
.py-95 { padding-top: 5.9375rem !important; }
.pl-95,
.px-95 { padding-left: 5.9375rem !important; }
.pr-95,
.px-95 { padding-right: 5.9375rem !important; }
.pb-95,
.py-95 { padding-bottom: 5.9375rem !important; }

/* 96px */
.p-96 { padding: 6rem !important; }
.pt-96,
.py-96 { padding-top: 6rem !important; }
.pl-96,
.px-96 { padding-left: 6rem !important; }
.pr-96,
.px-96 { padding-right: 6rem !important; }
.pb-96,
.py-96 { padding-bottom: 6rem !important; }
               
/* 100px */
.p-100 { padding: 6.25rem !important; }
.pt-100,
.py-100 { padding-top: 6.25rem !important; }
.pl-100,
.px-100 { padding-left: 6.25rem !important; }
.pr-100,
.px-100 { padding-right: 6.25rem !important; }
.pb-100,
.py-100 { padding-bottom: 6.25rem !important; }
